<div class="block" *ngFor="let product of products">
    <div *ngIf="foo(product.category, product.revome)">
        <img class="im" src= {{product.imge}} >
  
  <div class="right_block">
    <h3>
      <a 
        [title]="product.name + ' details'"
        [routerLink]="['/products', product.id]">
        {{ product.name }}
      </a>
    </h3>
    <h4>{{ product.price | currency }}</h4>
    <p *ngIf="product.description">
      Description: {{ product.description }}
    </p>

    <a href= "https://api.whatsapp.com/send/?phone&text= {{product.link}}" ><button type="button">
      Share
    </button>
    </a>
    <a href= {{product.link}} >
      <button class="lin" type="button">
      Link
      </button>
    </a>
    <button class="like"  (click)= "product.like = lik(product.likebool, product.like)" (click)="product.likebool = true" >♥ {{product.like}}</button>
    <button class="rem" (click)="product.revome = false" >Remove</button>
    </div>
  </div>
</div>