.im {
    
    width: 300px;
    float: left;
}
.block {
    display: inline-flex;
    margin-top: 50px;
}
.right_block {
    margin-left: 350px;
}
.lin {
    margin-left: 15px;
}
.like {
    margin-left: 20px;
    background-color: red;
    border-radius: 8px;
}